$whitesmoke: #f5f5f5
body
    background-color: $whitesmoke
    font-family: sans-serif
    width: 366px
    margin: 10px auto 0 auto
.main
    margin: 0 30px 0 30px
.tweet
    width: 306px
.tweet textarea
    width: 300px
    display: block
    margin: 10px 0 20px 0
.tweet .counter
    float: right
    height: 23px
    padding: 3px 0 3px 0
    margin: 0 10px 0 5px
.tweet .post
    float: right
    height: 23px
