<section class="main">
    <h1>頭骨API</h1>
    <p class="introduction">
        <em><a href="https://twitter.com/ToQoz">@ToQoz</a></em>としてつぶやけます.<br />
        自分のアカウントでつぶやきにくいことを言えば良い気がします.<br />
        <a href="https://github.com/ToQoz/twitter-toqoz-net">コードはGithubに置いてます</a>
    </p>
    <form method="POST" action="./" id="tweet" class="tweet">
        <%= csrf_tag %>
        <textarea name="body" value="" cols="50" rows="10"></textarea>
        <input type="submit" value="Post" class="post" />
        <span id="counter" class="counter">0 / 140</span>
    </form>
</section>
