app:
  session_secret: ""
accounts:
  twitter:
    command_regexp: !ruby/regexp '/^D |RT |SET |FAV |FAVE |FAVORITE |FOLLOW |UNFOLLOW |LEAVE |OFF |ON |STOP CANCEL |UNSUBSCRIBE |END |QUIT /i'
    consumer_key: ""
    consumer_secret: ""
    access_token: ""
    access_token_secret: ""
